<mat-toolbar color="accent">
  {{pageTitle}}
  <span class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink='/welcome'>Home</a>
  </span>
  <span class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink='/products'>Product List</a>
  </span>
  <span class="nav-item" *ngIf="isLoggedIn">
    <a class="nav-link" routerLink='/login'>Welcome {{ userName }}</a>
  </span>
  <span class="nav-item" *ngIf="!isLoggedIn">
    <a class="nav-link" routerLink='/login'>Log In</a>
  </span>
  <span class="nav-item" *ngIf="isLoggedIn">
    <a class="nav-link" (click)="logOut()" style="cursor: pointer">Log Out</a>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>Right Aligned Text</span>
</mat-toolbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="./assets/images/letter-a.png" class="img-responsive" height="200px" width="200px"
    alt="Logo, the letter a" />
</div>

<section class="content-wrapper">
  <app-counter></app-counter>
  <router-outlet></router-outlet>
</section>
